files:
 "/opt/elasticbeanstalk/hooks/appdeploy/post/98_create_symlinks.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      rm -rf /var/app/current/web/docs2
      ln -sf /efs-docs/docs /var/app/current/web/docs2
      sudo chown -h webapp:webapp /var/app/current/web/docs2
